[user]
	name = Gabriel Bianchi
	email = gdbianchii@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = code --wait
[push]
	autoSetupRemote = true
[alias]
	p = pull
	s = status
  undo = reset --soft HEAD~
	conf = config --global --edit
	co = checkout
	ci = commit
	cod = checkout .
	aa = add -A
	pr = pull --rebase
	am = commit --amend

